.vscode/**
data/**
metadata/**
**/.ipynb_checkpoints/**
**/__pycache__/**
build/**
.~lock**
source/_build/**
# sphinx specific files
Makefile
make.bat
GeomapDocs/output.log
source/build/**
.eggs/**
GeomapDocs.egg-info/**
dist/**
venv/**